  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   } 

   body{
    background-color: hsl(218,28%,13%); 
    color: hsl(0,0%,100%);
    font-family: 'Open Sans',  sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
      }  
 
  h1,h2,h3,button,a {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      margin: 10px 0;
  }
  p {
      line-height: 24px;
      font-size: 18px;
  }

    /* header */
    header{ 
        background-color: hsl(217,28%,15%); 
        padding: 25px; 
            }
     .nav_bar {
         display: flex;
         align-items: center;
         justify-content: space-between;
     }
    header ul {
        display: flex;
        gap: 3.2vw;
    }
     li {
            list-style-type: none;
        } 
    a {
    color: hsl(0,0%,100%);
    text-decoration: none; 
      } 
      a:hover{
         color: hsl(176,68%,64%);
         transition: 700ms;
      }

  /* intro */
  .intro  {
    background-color: hsl(217,28%,15%);
    padding: 0 10px ;
        }
  .illustration_txt{
    background: url(../images/bg-curvy-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 310px;
}
img{
    max-width: 85%;
} 
h1 {
    font-size: 30px;
    line-height: 35px;
}
  .button {
    background: linear-gradient(90deg, hsl(176,68%,64%),hsl(198,60%,50%));
    color: hsl(0,0%,100%);
    cursor: pointer;
    padding: 1rem 4.5rem;
    border-radius: 25px; 
    border: none;
    font-size: 16px;
         }
   .button:hover{
       background:linear-gradient(145deg,hsl(198,60%,50%),hsl(176,68%,64%) );
   }

   /* services section */
     .services_box {
        padding: 30px 100px;
        } 
    .offers {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        padding: 10px;
    }
 
    /* goals */
    .stay_productive {
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
        padding: 10px;
     }
    .productive {
        width: 45%;
        text-align: left;   
        align-self: center;
    } 
    .arrow {
         width: 15px;  
          }
    .arrow_link a::after{
    content: url(../images/icon-arrow.svg);
        }
     .arrow_link a{
         color:hsl(176,68%,64%);  
         border-bottom: 1px solid hsl(176,68%,64%) ;
     }
     .arrow_link a:hover{
        border-color: hsl(198,60%,50%) ;
          }
  
   /* Testimonial section */
   .testimonials{
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
        }
   .testimonial_box{
    background-color: hsl(219,30%,18%);
    width: 25%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px hsl(218,28%,13%);
          }
   .quote{
    position: relative; 
     top: -33px;
     left: -33px;
      z-index: -1;
         }
    .reduce_pad {
      padding: 0px 30px 30px;
    }
    .testimonial_box img {
        width: 30px;
        border-radius: 100%;
        margin-top: 15px;
         }
    .mini{
        display: flex;
        gap: 5px;
        line-height: 17px;
          }

  /* sign up section */
  .sign_up{
    background-color: hsl(217,28%,15%);
    width: 45rem;
    border-radius: 10px;
    position: relative;
    margin: auto;
    top: 7.2rem; 
    padding: 30px;
    box-shadow: 0px 0px 5px hsl(218,28%,13%); 
          }

   .sign_up input {
        width: 62%;
        padding: 1rem;
        border-radius: 25px;
        border: none;
        outline: none;
        font-size: 17px;
        }
    ::placeholder {
        font-size: 17px;
    }
    .sign_up h2 {
        font-size: 25px;
    }
    #get_access{
        margin: auto;
        padding:0 0 30px;
              }
     #med_btn {
         padding: 1.2rem 3rem;
         margin: 0;
     }
   .sign_up form {
        display: flex;
        justify-content: space-between;
        }

  /* footer section */
  footer {
    background-color: hsl(216,53%,9%); 
    padding: 140px 30px 20px;
    text-align: left;
   }
    .icon {
        margin-right: 0.5rem;
    }
    .footer li{
        margin-bottom: 15px;
    }
    .social_icons {
        display: flex;
        gap: 2rem;
        justify-content: center; 
    }
    .social_icons_border{
        border: 2px solid hsl(0,0%,100%);
        border-radius: 100%;
        padding: 8px; 
    }
    .social_icons_border:hover{
        border-color: hsl(176,68%,64%);
      
    }
    .facebook_icon_padding{
             padding: 8px 13px;
    }
    .ig_icon_padding{
        padding: 8px 10px;
}
    .footer{
        display: flex;
        justify-content: space-between;    
    }
    #footer_location{
       display: flex;
    }
    #footer_location img{
      margin-right: 20px;
    }
    .footer_item{
        margin-top: 10px;
        width: 17.5rem;
              } 
  
      /* medium devices responsive*/
      @media (max-width:800px) {
        .main_layout {
           flex-direction: column;    
                    }
            .logo{
                width: 7rem;
                height: auto;
            }
        .offers { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 98%;
        }
        .services_box {
            width: 95%;
            padding:20px 0;
        }
        .stay_productive {
            flex-direction: column;
            justify-content: center;
        }
        .productive {
            width: 95%;
        }
    
        .sign_up{
            width: 70%;
        }
        .sign_up form {
            flex-direction: column;
            justify-content: center;
            padding: 0;
        } 
        .sign_up input, #med_btn {
            width: 90%;
            margin: auto;
        }
        .sign_up input {
            margin-bottom: 20px;
        }
        #med_btn {
            padding: 1rem;
        }
        .testimonials{
            flex-direction: column;
            gap: 20px;
        }
        .testimonial_box{
            width: 85%;  
        }
        .footer{
            flex-direction: column;
        }
        .social_icons{
            justify-content: center;
        }
        .footer_item{
            margin-top: 10px;
            width: 95%;
                  }
      }

    /* Small devices responsive */
 @media (max-width:375px) {     /*mobile */ 
    header ul {
        gap: 1.5vw;
    }
    .logo{
        width: 6rem;
        height: auto;
    }
    .illustration_txt{
        margin-top: 30px;
        background: url(../images/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 50px;
       }
    .sign_up {
        padding: 20px 10px;
        width: 90%;
    }
    footer {
        padding: 140px 10px 20px;
    }
} 
